@media (max-width:600px) {
    .header .navbar {
        padding-top: 1vw;
        padding-bottom: 1vw;
        justify-content: space-between;
        background-color: none;
        /* transform: translateY(-1vw); */
    }
    .header{
        background-color:none;
        border: 0px ;
        /* background-color:#505dc6; */
        padding: .1vw 2vw;
        height: 10vw;
        width: 95%;
        border-radius: 4vw;
        margin: auto;
        transform: translateY(2vw);
    }
    
    /* .header .navbar .left-side-menu {
        width: 30%;
    } */
    .header .navbar{
        transform: translateY(-1.8vw);
        }
    
     .header .navbar .left-side-menu a img {
        width: 10vw;
        height: auto;
        position: relative;
    } 
    .header .navbar .left-side-menu .img{
        width: 6vw;
        transform: translateY(.5vw);
        margin-left: -3vw;
    }
    
    
    
    .header .center-menu a li {
        font-size: 3vw;
        padding: 0vw;
        font-weight: 600;
        
    }
    
    /* .header .center-menu a li:hover {
        border-radius: 0vw;
        background: transparent;
        top: 0;
        transform: scale(1.1);
    } */
    
    
    
    .center-menu {
        display: flex;
        width:110%;
        height: 73vw;
        flex-direction: column;
        justify-content: center;
        gap: 1vw;
        padding-top: 9vw;
        /* display: none; */
        margin-top: -900px;
        transition: all 1s ease-in-out;
        position: absolute;
        top: 0vw;
        left:-4.5vw;
        background-color:#000;
        z-index: 1;
        border-radius: 1.6vw;
        /* border-left: 2px solid rgba(255, 255, 20, 0.5);
        border-top: 2px solid rgba(255, 255, 20, 0.5); */
        
        
    }
    .center-menu ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1vw;
        gap: .4vw;
    }
    .center-menu ul li a {
        font-size: 3vw;
        font-family: patrick;
        line-height: 1vw;
        gap: 1vw;
    }
    
    
    .center-menu.active {
        margin-top: 0;
        /* display: flex; */
        /* background-color:grey; */
        background-color: #200e26;
        background-color: #242424;
        border-radius: 0 0 2vw 2vw;
    }
    
    
    
    /* .center-menu .tg:hover {
        background: #F2E0C8;
    } */
    
    .header .navbar .center-menu .right-side-menu {
        margin-left: 0%;
        margin-bottom: 1vw;
    }
    
    .navbar-toggle span {
        display: block;
        width: 4vw;
        height: .5vw;
        margin: 0.7vw;
        border-radius: 50px;
        transition: all 0.5s;
        z-index: 5;
        background: #fff;
    }
      
    /* .header .center-menu a li:hover{
        color: #000;

    } */
    
    .navbar-toggle span:nth-child(2) {
        width: 2.9vw;
    }
    
    .navbar-toggle {
        display: block;
        z-index: 4;
      }
      
      .navbar-toggle.active span:nth-child(1) {
        transition-delay: 0.1s;
        transform: rotate(45deg) translate(1.3vw, 1.3vw);
        
      }
      
      .navbar-toggle.active span:nth-child(2) {
        opacity: 0;
        width: 2.9vw;
      }
      
      .navbar-toggle.active span:nth-child(3) {
        transition-delay: 0.1s;
        transform: rotate(-45deg) translate(0vw, 0vw);
        position: relative;
        top: -1vw;
        
      }
      /* .header .social-group{
        display: none;
      } */
     .center-menu img{
        display: block;
    } 
    
    .banr{
        margin-top: 2rem;
    }
    .header .navbar .left-side-menu .img{
        width: 10vw;
        /* transform: translateY(-.8rem); */
        z-index: 3;
    }
    .center-menu .nav-bnt{
        width: 12vw;
        font-size: 1.5vw;
        padding: 1.2vw;
    }
     
    .navbar-toggle {
        display: block;
        cursor: pointer;
    }
    
    .navbar-toggle span {
        display: block;
        width: 5vw;
        height: .7vw;
        margin: 0.7vw;
        background:#fff;
        border-radius: 50px;
        transition: all 0.5s;
    }
    
    .navbar-toggle span:nth-child(2) {
        width: 3.5vw;
    }
    
    .center-menu .right-nav{
        gap: 2vw;
    }
    .p1{
        position: absolute;
        width: 5vw;
        left: 4%;
        top: 20%;
        z-index: -1;
    }
    .p2{
        position: absolute;
        width: 3vw;
        left: 80%;
        z-index: -1;
        top: 20%;
    }
    .p3{
        position: absolute;
        width: 2.8vw;
        left: 12%;
        top: 58%;
        z-index: -1;
    }
    .p4{
        position: absolute;
        width: 2.5vw;
        left: 70%;
        top: 68%;
        z-index: -1;
    }
    .center-menu .right-nav .butn img{
        width: 28vw;
        transition: .4s;
        transform: translateX(-1vw);
    }
    .text p{
  
        font-size: 2vw;
        color: #fff;
        margin: auto;
        text-align: center;
        font-family:prgg;
        
    }
    .text h2{
        width: 60%;
        font-size: 5vw;
        color: #fff;
        margin: auto;
        font-size: bold;
        text-align: center;
        line-height: 6vw;
        font-family: hd;
    
    }
/* ---------------------------------------------------- */
.about-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vw;
    flex-direction: column-reverse;
    gap: 5vw;
}
.left{
    width: 80%;
    text-align: center;
}
.left img{
    width: 23vw;
}
.right {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    gap: 1vw;
    text-align: center;
}
.abt{
    width: 16vw;
    display: flex;
    margin: auto;
}
.right h4{
    font-size: 3.5vw;
    font-family:hd;
    color: #fff;
    margin-top: 1vw;
}
.right p{
    font-size: 2vw;
    color:#838383;
    line-height: 2.8vw;
    font-family:prgg;
    width: 75%;
    margin: auto;
}
.key-sec{
    /* width: 100%; */
    margin-top: 10vw;
}
.texts{
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
.texts h4{
    font-size: 3.5vw;
    font-family:hd;
    color: #fff;
    margin-top:1vw;
}
.texts p{
    font-size: 2vw;
    color:#fff;
    line-height: 1.8vw;
    font-family:prgg;
    width: 100%;
    margin-top: 1.5vw;
}
.texts .key{
    width: 16vw;
    display: flex;
    margin: auto;
}
.box-1{
    width: 64%;
    padding: 5vw 4vw;
    border: 1px solid grey;
    border-radius: 1.2vw;
    display: flex;
    flex-direction: column;
    height:57vw;
    background: linear-gradient(to bottom, #000 99%,#424242 100%);
    box-shadow: 0px 1px 40px 0px rgba(173, 93, 183, 0) inset, 0px 4px 18px 0px rgba(173, 93, 183, 0)inset, 0px 52px 60px -40px rgba(64, 64, 64, 1)inset, 
    0px -82px 68px -64px rgba(173, 93, 183, 0) inset, 0px 7px 5px -4px #FFF inset, 0px 39px 56px -10px rgba(173, 93, 183, 0) inset;
    backdrop-filter: blur(20px);

 

}
.key-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    margin-top: 4vw;
    flex-direction: column;
 
}
.box-1 img{
    width: 19vw;
    text-align: center;
    display: flex;
    margin: auto;
}

.box-1 h4{
    font-size:2.7vw;
    font-family:hd;
    color: #fff;
    margin-top:3.5vw;
    line-height: 2.5vw;
    font-weight: 500;
    

}
.box-1 p{
    font-size: 2vw;
    color:#838383;
    line-height: 2.8vw;
    font-family:prgg;
    width: 100%;
    margin-top:1.7vw;

}





.box-2 img{
    width: 19vw;
    text-align: center;
    display: flex;
    margin: auto;
}
.box-2{
    width: 64%;
    padding: 5vw 4vw;
    border: 1px solid grey;
    border-radius: 1.2vw;
    display: flex;
    flex-direction: column;
    height: 57vw;
    background: linear-gradient(to bottom, #000 99%,#424242 100%);
    box-shadow: 0px 1px 40px 0px rgba(173, 93, 183, 0) inset, 0px 4px 18px 0px rgba(173, 93, 183, 0)inset, 0px 52px 60px -40px rgba(64, 64, 64, 1)inset, 
    0px -82px 68px -64px rgba(173, 93, 183, 0) inset, 0px 7px 5px -4px #FFF inset, 0px 39px 56px -10px rgba(173, 93, 183, 0) inset;
    backdrop-filter: blur(20px);

 

}
.box-2 h4{
    font-size: vw;
  font-size:2.7vw;
    font-family:hd;
    color: #fff;
    margin-top:1vw;
    line-height: 2.5vw;
    font-weight: 500;
    margin-top: 2vw;

}
.box-2 p{
    font-size: 2vw;
    color:#838383;
    line-height: 2.8vw;
    font-family:prgg;
    width: 100%;
    margin-top:1.7vw;

}







.box-3 img{
    width: 14vw;
    text-align: center;
    display: flex;
    margin: auto;
}
.box-3{
    width: 64%;
    padding: 5vw 4vw;
    border: 1px solid grey;
    border-radius: 1.2vw;
    display: flex;
    flex-direction: column;
    height: 58vw;
    background: linear-gradient(to bottom, #000 99%,#424242 100%);
    box-shadow: 0px 1px 40px 0px rgba(173, 93, 183, 0) inset, 0px 4px 18px 0px rgba(173, 93, 183, 0)inset, 0px 52px 60px -40px rgba(64, 64, 64, 1)inset, 
    0px -82px 68px -64px rgba(173, 93, 183, 0) inset, 0px 7px 5px -4px #FFF inset, 0px 39px 56px -10px rgba(173, 93, 183, 0) inset;
    backdrop-filter: blur(20px);

 

}
.box-3 h4{

  font-size:2.7vw;
    font-family:hd;
    color: #fff;
    margin-top:1vw;
    line-height: 2.5vw;
    font-weight: 500;
    margin-top: 3vw;

}
.box-3 p{
    font-size:2vw;
    color:#838383;
    line-height: 2.8vw;
    font-family:prgg;
    width: 100%;
    margin-top:1.7vw;

}



/* ---------------------------------------------blackcore-sec---------------- */
.text-2{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 9vw;
}
.text-2 .key{
    width: 16vw;
    display: flex;
    margin: auto;
}
.text-2 h4{
    font-size: 3.3vw;
    font-family:hd;
    color: #fff;
    margin-top: 1vw;
}
.text-2 p{
    font-size: 1.9vw;
    color:#fff;
    line-height:2.7vw;
    font-family:prgg;
    width: 100%;
   
    width: 50%;
    margin: auto;
    margin-top:1vw;
}

/* --------------------------------------------------------------------click-sec----------------- */
/* -----------gifs-------------------- */
.lfts img{
    width: 95vw;
    height: 70vw;
    border-radius: 2vw;
}

.click-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121213;
    width: 85%;
    margin: auto;
    border-radius: 1.4vw;
    padding: 5vw 5vw;
    gap:2vw;
    margin-top: 4vw;
    flex-direction: column;
   
}


.click-box .rightss{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
}
 .click-box .rightss .uprs{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 2vw;
}
.click-box .rightss .uprs .lfti{
    /* background-image: linear-gradient(to bottom, #fd6544,#fea84f); */
    background-color: #1f1f20;
    width: 50%;
    padding: 1.8vw 3vw;
    border-radius: 1vw;
    height: 36vw;
}
.click-box .rightss img{
    width: 5vw;
    animation: flipInY 2S cubic-bezier(0.165, 0.84, 0.44, 1)  infinite alternate;

}
.click-box .rightss h4{

    color: #e2e1e5;
    font-size: 2.2vw;
    line-height:2.8vw;
     font-family: hd;
    font-weight: bold;
    
}
.click-box .rightss p{
    font-size: 1.8vw;
    color: #b1afba;
    line-height: 2.8vw;
    width: 100%;
    /* margin-top: .8vw; */
    font-family: prgg;
    margin: auto;
    width: 100%;
    margin-top: 1vw;
}
.click-box .rightss .uprs .rgti{
    background-color: #1f1f20;
    width: 50%;
    padding: 1.8vw 3vw;
    border-radius: 1vw;
    height: 36vw;
}



.click-box .rightss .lowrs{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 2vw;
    
}

.click-box .rightss .lowrs .lftii{
    background-color: #1f1f20;
    width: 50%;
    padding: 1.8vw 3vw;
    border-radius: 1vw;
    height: 35vw;
}
.click-box .rightss .lowrs .rgtii{
    background-color: #1f1f20;
    width: 50%;

    padding: 1.8vw 3vw;
    border-radius: 1vw;
    height: 35vw;
}
.lfts img{
    width: 75vw;
    height: 39vw;
    border-radius: 2vw;
}


/* --------------------------------token-sec--------------------------------------- */
.token-sec{
    margin-top: 5vw;
}
.text-3{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
 
}
.text-3 .key{
    width: 16vw;
    display: flex;
    margin: auto;
}
.text-3 h4{
    font-size: 3.5vw;
    font-family:hd;
    color: #fff;
    margin-top: 1.5vw;
}
/* -----tkn-boxes----- */
.tkn-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    flex-wrap: wrap;
    margin-top: 2vw;
}
.tkn-1{
    width: 35%;
    padding: 5vw 2vw;
    border-top: 60% solid #fff;
    border-left: 60% solid #fff;
    text-align: center;
     background-image: linear-gradient(to right, #202020 0%, #363636 100%);
     border-radius: 1.5vw;
     /* margin-top: 6vw; */
     border-top: 1px solid #fff;
  
    

}
.tkn-1 img{
    width: 7vw;
}
.tkn-1  p{
    font-size: 2.5vw;
    color: #fff;
    font-family: urban;
    margin-top: 2vw;
    line-height: 3vw;
  
}
.tkn-1  span{
    font-size:2.3vw;
    color:gray;
    font-family: urban;
  transform: translateY(1vw);
   
}
.prg{
    font-size: 2.6vw;
    color: #363636;
    text-align: center;
    font-family: prg;
    margin-top: 3vw;
    letter-spacing: 1px;
}

/* -------------------------------mision-sec---------------------------------- */
.mision-sec{
    width: 92%;
    background-color: #000; 
   
    border-radius: 2vw;
    padding: 3vw 2vw;
    margin: auto;
    position: relative;
    margin-top: 8vw;
}
.mision-sec h4{
    font-size: 3.2vw;
    font-family:hd;
    color: #fff;
    margin-top: .3vw;
    text-align: center;
    transform: translateY(2vw);

}
.btn-4{
    width: 26vw;
    display: flex;
    margin: auto;
    /* transform: translateY(-3vw); */
    transition: .5s;
}
.btn-4:hover{
    transform: translateY(-1PX);
    opacity: .7;
}
/* .btnss{
    border: none;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 1vw;
    color: #fff;
    width: 10vw;
    padding: .5vw;
    display: flex;
    margin: auto;
    box-shadow: 1px 1px 20px #fff;
    text-align: center;
    font-size: 1.4vw;
    justify-content: center;
} */
.rocket{
    position: absolute;
    width:16vw;
    left: 39%;
    z-index: 2;
    top: 58%;
}
.text-4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -2VW;
    
}
.cntnt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    
}
.cntnt .lfts p{
    color:#868686;
    width: 90%;
    font-family: prgg;
    font-size: 1.8vw;
    line-height: 2.5vw;
    transform: translateY(1vw);
}
.cntnt .rights p{
    color:#868686;
    width: 90%;
    font-family: prgg;
    font-size: 1.8vw;
    line-height: 2.5vw;
    transform: translateX(4vw);

}
/* ------dotss----- */
.dotss{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 27vw;
    margin-top: 4vw;

}
.dotss img{
    width: 27vw;
}

/* -------------------------------------------road-sec-------------------- */
.text-6{
    text-align: center;
    margin-top: 9vw;
}
.text-6 img{
    width: 16vw;
    display: flex;
    margin: auto;
}
.text-6 h4{

    font-size: 3.3vw;
    font-family:hd;
    color: #fff;
    margin-top:1.5vw;
    font-weight: bold;
}
.road-sec{
    position: relative;
    height: 100%;
    height:110vw;
}
.r1{
    position: absolute;
    width: 3vw;
    left: 78%;
    top: 16%;
}
.r2{
    position: absolute;
    width: 1.5vw;
    left: 8%;
    top: 49%;
}
.r3{
    position: absolute;
    width: 3.3vw;
    left: 30%;
    top: 100%;
}

.line{
    position: absolute;
    left: 50%;
    width: 2.5vw;
    top:9%;

}
.line-2{
    position: absolute;
    left: 50%;
    top: 40%;
    width: 2.5vw;

}
.line-3{
    position: absolute;
    left: 50%;
    top: 72%;
    width: 2.5vw;

}
.line-4{
    position: absolute;
    left: 50%;
    top: 93%;
    width: 2.5vw;

}
 .txxt-1 img{
    width: 8vw;
   
} 
.txxt-1 h4{
    font-size: 2.3vw;
    color: #fff;
    font-family:hd;
    margin-top: .5vw;
} 
.txxt-1 p{
    font-size: 1.9vw;
    color:#868686;
    font-family:prg;
    width: 46%;
    line-height: 2.6vw;
    margin-top: .4vw;
   
  
} 
.txxt-1{
    position: absolute;
    left: 5%;
    top: 10%;
}
.txxt-2 img{
    width: 8vw;
   
} 
.txxt-2 h4{
    font-size: 2.3vw;
    color: #fff;
    font-family:hd;
    margin-top: .5vw;
} 
.txxt-2 p{
    font-size: 1.9vw;
    color:#868686;
    font-family:prg;
    line-height:2.5vw;
    width: 85%;
    margin-top: .4vw;
   
  
} 
.txxt-2{
    position: absolute;
    left: 57%;
    top: 40%;
}
.txxt-3 h4{
    font-size: 2.3vw;
    color:#fff;
    font-family:hd;
    margin-top: .5vw;
} 
.txxt-3 p{
    font-size: 1.9vw;
    color:#868686;
    font-family:prg;
    width: 44%;
    line-height: 2.5vw;
    margin-top: .4vw;
   
  
} 
.txxt-3{
    position: absolute;
    top: 64%;
    left: 5%;
}
.txxt-3 img{
    width: 8vw;
   
} 
.txxt-4 h4{
    font-size: 2.3vw;
    color: #fff;
    font-family:hd;
    margin-top: .5vw;
} 
.txxt-4 img{
    width: 8vw;
   
} 
.txxt-4 p{
    font-size: 1.9vw;
    color:#868686;
    font-family:prg;
    width: 85%;
    margin-top: .4vw;
    line-height: 2.5vw;
   
  
} 



.txxt-4{
    position: absolute;
    left: 57%;
    top:89%;



}



/* ----------------------join-sec--------------------------------- */
.join-sec{
    margin-top: 20vw;
    width: 66%;
    margin: auto;
    background-color: #000000;
    padding: 3vw 7vw;
    position: relative;
    margin-top:41vw;
   border-radius: 1.2vw;
   border: 1px solid #fff;


}
.j1{
    position: absolute;
    width: vw;
    top: 70%;
    left: 20%;
}
.j2{
    position: absolute;
    width: 2.8vw;
    left: 50%;
    top: 5%;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4vw;
}
.join-lft h4{
font-size: 3.4vw;
    font-family:hd;
    color: #fff;
    margin-top: 5vw;
    font-weight: bold; 
   

}
.join-lft  p{
    color:#4c4c4c;
    width: 100%;
    font-family: prg;
    font-size: 2.1vw;
    line-height: 2.7vw;

    margin: auto;
    margin-top: 1.2vw;


}
.join-lft  .join-btn{
    width: 15vw;
    margin-top: 2.5vw;
    transition: .4s;
}
.join-lft  .join-btn:hover{
    transform: translateY(-1px);
    opacity: .8;
}
.join-rght{
    width: 80%;
    margin: auto;
}
.join-lft{
    width: 95%;
    margin: auto;
    text-align: center;
}
.join-rght img{
    width:42vw;
}



/* ----------------------------------fotr-sec--------------------------------------------------- */
.fotr-sec{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    padding: 2vw 3vw;
    margin-top: 7vw;
    flex-direction: column;
    gap: 4vw;
}
.clm{
    width: 100%;
    text-align: center;
}
.clm img{
    width: 12vw;
}
.clm h4{
    font-size: 3vw;
    font-family: Arial,Helvetica, sans-serif;
    background: linear-gradient(270deg,  #f1c9f7 50%,#d0d7fa 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: hd;

}
.clm p{
    font-size: 2.2vw;
    color:#4c4c4c;
    line-height: 2.5vw;
    width: 55%;
    /* margin-top: .8vw; */
    font-family: prgg;
    margin-top: 1.5VW;
    font-family: urban;
    margin: auto;

}
.clm .icnsss i{
    color:#4c4c4c;
    font-size: 2.4vw;
    margin-top: 1.5VW;
    font-family: urban;
}
.icnsss{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2vw;
}

.clm-2{
    width: 100%;
    margin-left: 0vw;
    text-align: center;
}
.clm-2 h4{
    font-size: 3.4vw;
    color: #fff;
    font-family: hd;

}
.clm-2 ul{
    transform: translateY(1.6vw);
}
.clm-2 ul li{
    font-size: 2.2vw;
    color:#4c4c4c;
    line-height: 4vw;
    width: 100%;
    /* margin-top: .8vw; */
    font-family: urban;
    transform: translateX(.5vw);
    list-style: none;

    

}
/* #clm3 span {
    font-size: 1.3vw;
    color: #b1afba;
    transform: translateY(5vw);
    padding-top: 8vw;

} */
/* .line{
    width: 90%;
    height: 2px;
    color: #1b1826;
    background-color: #1b1826;
    margin: auto;
    margin-top: 1vw;
} */
.end{
    font-size: 2.5vw;
    color: #b1afba;
    line-height: 2.5vw;
    width: 100%;
    /* margin-top: .8vw; */
    font-family: urban;
    text-align: center;
    list-style: none;
    color:#4c4c4c;
  
    /* margin-bottom: 1vw; */
    margin-top: 1.6vw;
    padding-bottom: 1.5vw;
}

.center-menu li::afer{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: grey;
    left: 0%;
    transition: .4s all ease;
    bottom: -7px;
}
.center-menu li:hover::after{
    width: 100%;
}
.center-menu li:hover{
    color: red;
    z-index: 5;
}


/* -------------------------- */

/* --------------------------------------------------------------------click-sec----------------- */
/* -----------gifs-------------------- */









}
  